@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.userNameImput {
  text-align: center;
  margin-top: 20%;
}
.addMargin {
  margin-top: 200px;
}
.addToCart {
  margin-top: 20px;
}
h2 {
  width: 100%;
  text-align: right;
}
.shopLogo {
  font-family: "Dancing Script", cursive;
  font-size: 30pt;
}
.figure {
  width: 95%;
  border-radius: 25px;
}
.error {
  font-size: 10pt;
  color: red;
}

.formRegisteration {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 40px auto;
}
.formRegisteration > input,
.formLogin > input {
  margin-bottom: 20px;
}
.formLogin {
  display: flex;
  flex-direction: column;
}
